.venv
.env
azurite-data
azurite-debug.log
.idea
.vscode
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.log
*.egg-info
*.egg
*.whl
*.tar.gz
*.zip
*.tar
*.gz
*.tgz
*.rar
*.7z
*.bak
*.swp
*.swo
*.swn
*.tmp
*.temp
*.pid
*.seed
*.pid.lock
.DS_Store
*.sublime-project
*.sublime-workspace
*.sublime-settings
*.sublime-merge
*.sublime-merge-workspace
*.sublime-merge-settings
*.sublime-merge-session
